body{
    background-color: black;
}

#board{
    margin-left: 10px;
    margin-top: 10px;
    border: solid 2px green;
}
#stats{
    height: 40px;
    width: 800px;
    background-color: green;
    margin-left: 10px;
    margin-top: -4px;
    border: solid 2px green;
}
.gameStats{
    background-color: black;
    width: 32%;
    height: 30px;
    padding:4px;
    border: solid 1px green;
    float: left;
    text-align: center;
    color: white;
}
.lives{
    width: 32%;
    height: 100%;
    float: left;
    margin-left: 3px;
    text-align: center;
}
.points{
    text-align: center;
    padding-top: 2px;
}
#first{
    margin-left: 1px;
}
#overHeat{
    height: 15px;
    width: 100px;
    margin-top: 2px;
    margin-left: 5px;
    background-color: white;
}
